html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
  background-color: #f8f8f9;
  background-color: #1a1f24;
  font-size: 16px;
  font-family: "SF Pro Display", helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

// Layout
// -------------------
.intro {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cards {
  // background-color: teal;
  max-width: 620px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


.card {
  perspective: 600px;
  width: 100%;
  color: #fff;
  border-radius: .9rem;
 
  position: sticky;
  top: 80px;
  margin-bottom: 100px;
  transform-origin: 50% 50%;
  overflow: hidden;

  &-inner {
    width: 100%;
    height: 100%;
    position: relative;
    
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    h2 {
      font-size: 1.4rem;
      line-height: 1.14286;
      font-weight: 500;
      letter-spacing: .007em;
      text-align: center;
      padding: 1.6rem;
      @media screen and (min-width: 768px) {
        font-size: 1.6rem;
        padding: 2em;
      }
    }

    .mockup {
      width: 300px;
      height: 280px;
      background-color: #000;
      border-radius: 2rem 2rem 0 0;
      // margin-bottom: -90%;
      box-shadow: 0 30px 60px 0 rgba(33, 37, 41, 0.29);
      @media screen and (min-width: 768px) {
        // margin-bottom: -50%;
      }
    }
  }
}

.card-1 {
  background: -webkit-linear-gradient(130deg, #d754ad 0%, #f96785 67%, #fe7333 100%);
  background: linear-gradient(-40deg, #d754ad 0%, #f96785 67%, #fe7333 100%);
}

.card-2 {
  background: -webkit-linear-gradient(130deg, #af4fec 0%, #d753ad 70%, #eb6078 100%);
  background: linear-gradient(-40deg, #af4fec 0%, #d753ad 70%, #eb6078 100%);
}

.card-3 {
  background: -webkit-linear-gradient(130deg, #6c6ff0 0%, #a354e4 58%, #c65cae 100%);
  background: linear-gradient(-40deg, #6c6ff0 0%, #a354e4 58%, #c65cae 100%);
}

.card-4 {
  background: -webkit-linear-gradient(130deg, #9adee6 0%, #00a9ff 25%, #3663cc 100%);
  background: linear-gradient(-40deg, #9adee6 0%, #00a9ff 25%, #3663cc 100%);
}